html {
  font-family: sans-serif;
  height: 100%;
}

img {
  max-width: 150px;
}

.search {
  max-width: 480px;
  margin: 8px;
}

.search input {
  font-family: inherit;
  font-size: 100%;
}

.stock {
  margin: 8px;
}

.stockListItem {
  padding: 12px;
}

.stockListItem-buyer {
  background: lightgreen;
}

.stockListItem-seller {
  background: lightcoral;
}